version: '3.9'
services:
  backend:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - '8000:8000'
    volumes:
      - ./app:/app/app
      - ./models:/app/models
    environment:
      - STOCKFISH_PATH=/usr/bin/stockfish
  frontend:
    build:
      context: ../frontend
      dockerfile: Dockerfile
    ports:
      - '5173:5173'
